[user]
  name = Pritesh Tupe
  email = mail@priteshtupe.com
  signingkey = /Users/pritesh/.ssh/github.pub
[init]
  defaultBranch = main
[advice]
  addIgnoredFile = false
[core]
  editor = nvim
  autocrlf = input
[pull]
  rebase = false
[commit]
  gpgsign = true
[safe]
  directory = *
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[maintenance]
  repo = /Users/pritesh/Work/simpletire/steer
[gpg]
  format = ssh
